body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, blue, green);
}

.container {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

#main-image {
    position: absolute;
    z-index: 1;
}

#overlay-image {
    position: absolute;
    z-index: 2;
    top: -380px;
    left: 20px;
    width: 90px;
    height: auto;
}
