.interface-panel {
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 20px;
    min-width: 10em;
    max-height: 20em;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(50vw - 40px); /* 50% of the viewport width minus 40px for padding */
    height: auto;
  }
  
.widget-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

#or-create-account {
  margin-top: 1em;
  margin-left: 8em;
  border: none;
  color: blue;
  font-weight: bold;
  cursor: pointer;
}

#or-create-account:hover {
  color: #28a8f7;
}